# Build and Gradle outputs
.gradle
build

# IDE/editor files
.idea
.vscode
*.iml
*.ipr
*.iws
out
bin

# Java/STS metadata
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
nbproject/private
nbbuild
nbdist
dist
.nb-gradle

# Optional local docs/config
HELP.md
fly.toml
