name: PMD

on:
  push:

jobs:
  pmd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - uses: pmd/pmd-github-action@v2
        id: pmd
        with:
          version: '7.0.0-rc4'
          sourcePath: 'src/main/java'
          analyzeModifiedFilesOnly: false
          rulesets: 'rulesets/java/quickstart.xml'
      - name: Fail build if there are violations
        if: steps.pmd.outputs.violations != 0
        run: exit 1